
a:hover > i {
	text-decoration: none;
}

.accordion-heading {
	background-color: #eee;
	font-weight: bold;
}

/**
 * Mobile adjustments
 * 
 */
@media (max-width: 767px) {
	.hero-unit {
		padding: 30px;
	}
	h1, .hero-unit h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 24px;
		line-height: 30px;
	}
	.navbar .nav {
		width: 100%;
	}
	.navbar .nav > li {
		float: none;
	}
	.navbar .nav > li > .dropdown-menu:after {
	    content: none;
	}
	.navbar .nav  li a:hover {
		color: #fff;
	}
}
@media (min-width: 768px) {
	#logoCity {
		position: relative;
		top: -10px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.hero-unit {
		padding: 30px;
	}
	h1, .hero-unit h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 24px;
		line-height: 30px;
	}
	.navbar .nav {
		width: 100%;
	}
	.navbar .nav > li {
		float: none;
	}
	.navbar .nav > li > .dropdown-menu:after {
	    content: none;
	}
	.navbar .nav  li a:hover {
		color: #fff;
	}
}

/**
 * 	DocComment Mobile Enchancements
 * 
 */

#docOverlay {
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:100;
	padding:0 10px;
}
#docCommentViewer {
	position: relative;
}
#docComments {
	position: relative;
	z-index:200;
}
#docComments #comments .inner {
	overflow:scroll;
}

@media (min-width: 768px)  {
	#docOverlay {
		height:467px;
	}
	#docComments #comments .inner {
		height:323px;
	}
}
@media (min-width: 1200px) {
	#docOverlay {
		height:580px;
	}
	#docComments #comments .inner {
		height:465px;
	}
}




